apiVersion: apps/v1
kind: Deployment
metadata:
  name: headlamp
  namespace: headlamp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: headlamp
  template:
    metadata:
      labels:
        app: headlamp
    spec:
      containers:
        - name: headlamp
          image: ghcr.io/kubernetes-sigs/headlamp:v0.21.0
          ports:
            - containerPort: 80